---
---

@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

:root {
  --wave-progress: 0;
}

.text-panel {
  border-radius: 0.5rem;
  padding: 3%;
  background:#ef8fd2;
}

.project-title {
  margin: auto 0rem!important;
  color:#ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

#project {
  .columns {
      .column {
          border-radius: 0.5rem;

          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          .image {

          }
      }
  }

  #project-card {
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      transform: scale(0.985);
      transition: all 0.5s ease;
      margin-bottom: -1rem !important;
      display: inline-table;

      width: 33.33%;
      max-width: 33.33%;

      height: 100%;
      max-height: 100%;

      border-radius: 0.5rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:hover {
          transform: scale(0.97);
      }
  }

  #project-card-wide {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transform: scale(0.995);
    transition: all 0.5s ease;
    margin-bottom: -1rem !important;
    display: inline-table;

    width: 100%;
    max-width: 100%;

    height: 100%;
    max-height: 100%;

    aspect-ratio: 3;

    border-radius: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
        transform: scale(0.99);
    }
}

  .card {
      aspect-ratio: 1;
      background-color: #ef8fd2;
      color:#ffffff;

      transition: all 0.25s ease;
      &:hover {
          background-color: rgba($color: #ffffff, $alpha: 0.0)!important;
          opacity: 0.0!important;
      }
  }
}
