---
layout: default
---
{% include lang.html %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      <strong>{{ title }}</strong>
    </h1>
    {% if page.description %}
      <p class="page-desc fw-light mb-4">{{ page.description }}</p>
    {% endif %}
  {% endif %}

  <div class="columns is-centered is-multiline is-mobile" style="overflow:hidden" id="project">
    <div
      class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      style="background-image:url(/assets/img/projects/2025-01-14-bad-bohemians-thumbnail-wide.png);"
      id="project-card-wide"
    >
      <a href="/bad-bohemians">
        <div class="card" style="background:rgba(51, 195, 240, 0.9);aspect-ratio:3;"> <!-- #33c3f0 -->
          <figure class="image is-3by1"></figure>
          <div
            class="card-content"
            style="width:80%;max-height:90%;position:absolute;left:50%;top:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);"
          >
            <h1 class="project-title handwritten has-text-white is-size-4">Bad Bohemians</h1>
            <p class="project-title has-text-white has-text-weight-light content">Police. Procedural.</p>
          </div>
        </div>
      </a>
    </div>

    <div
      class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      style="background-image:url(/assets/img/projects/2025-01-12-grid-legends-thumbnail.png);"
      id="project-card"
    >
      <a href="/grid-legends">
        <div class="card" style="background:rgba(245, 137, 213, 0.9)"> <!-- #f589d5; -->
          <figure class="image is-3by1"></figure>
          <div
            class="card-content"
            style="width:80%;max-height:90%;position:absolute;left:50%;top:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);"
          >
            <h1 class="project-title has-text-white is-size-4"><strong>GRID Legends</strong></h1>
            <p class="project-title has-text-white has-text-weight-light content">A state-of-the-art mobile port</p>
          </div>
        </div>
      </a>
    </div>

    <div
      class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      style="background-image:url(/assets/img/projects/2025-01-12-concrete-earth-thumbnail.png);background-size:contain;background-color:#000000"
      id="project-card"
    >
      <a href="/concrete-earth">
        <div class="card" style="background:rgba(255, 182, 46, 0.9)"> <!-- #ffb62e -->
          <figure class="image is-3by1"></figure>
          <div
            class="card-content"
            style="width:60%;max-height:90%;position:absolute;left:50%;top:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);"
          >
            <h1 class="project-title has-text-white is-size-4"><strong>Concrete Earth</strong></h1>
            <p class="project-title has-text-white has-text-weight-light content">
              A procgen showcase in a post-nuclear setting
            </p>
          </div>
        </div>
      </a>
    </div>

    <div
      class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      style="background-image:url(/assets/img/projects/2023-10-23-exposure-thumbnail.png);"
      id="project-card"
    >
      <a href="/exposure">
        <div class="card" style="background:rgba(241, 86, 75, 0.9)"> <!-- #f1564b -->
          <figure class="image is-3by1"></figure>
          <div
            class="card-content"
            style="width:80%;max-height:90%;max-height:90%;position:absolute;left:50%;top:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);"
          >
            <h1 class="project-title handwritten has-text-white is-size-4">Exposure</h1>
            <p class="project-title has-text-white has-text-weight-light content">A nasty little horror demo</p>
          </div>
        </div>
      </a>
    </div>

    <div
      class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      style="background-image:url(/assets/img/projects/2023-09-18-lingua-franca-thumbnail.png);"
      id="project-card"
    >
      <a href="/lingua-franca">
        <div class="card" style="background:rgba(255, 182, 46, 0.9)"> <!-- #ffb62e -->
          <figure class="image is-3by1"></figure>
          <div
            class="card-content"
            style="width:90%;max-height:90%;position:absolute;left:50%;top:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);"
          >
            <h1 class="project-title handwritten has-text-white is-size-4">Lingua Franca</h1>
            <p class="project-title has-text-white has-text-weight-light content">Messing about with organic grids</p>
          </div>
        </div>
      </a>
    </div>

    <div
      class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      style="background-image:url(/assets/img/projects/2023-08-30-focalised-story-sifting-thumbnail.png);"
      id="project-card"
    >
      <a href="/focalised-story-sifting">
        <div class="card" style="background:rgba(51, 195, 240, 0.9)"> <!-- #33c3f0 -->
          <figure class="image is-3by1"></figure>
          <div
            class="card-content"
            style="width:80%;max-height:90%;position:absolute;left:50%;top:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);"
          >
            <h1 class="project-title has-text-white is-size-4"><strong>Focalised Story Sifting</strong></h1>
            <p class="project-title has-text-white has-text-weight-light content">
              A dissertation on emergent narrative
            </p>
          </div>
        </div>
      </a>
    </div>

    <div
      class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      style="background-image:url(/assets/img/projects/2023-09-20-get-rich-or-die-trying-thumbnail.png);"
      id="project-card"
    >
      <a href="/get-rich-or-die-trying">
        <div class="card" style="background:rgba(85, 214, 194, 0.9)"> <!-- #55d6c2" -->
          <figure class="image is-3by1"></figure>
          <div
            class="card-content"
            style="width:80%;max-height:90%;position:absolute;left:50%;top:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);"
          >
            <h1 class="project-title has-text-white is-size-4"><strong>Get Rich or Die Trying</strong></h1>
            <p class="project-title has-text-white has-text-weight-light content">The first real game I ever made</p>
          </div>
        </div>
      </a>
    </div>

    <p><!-- Include linebreak to hide overflow without cropping border --></p>
  </div>
</article>
